%head
  %title Ruby Sinatra Starter Application
  %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  %link(rel="stylesheet" href="/stylesheets/style.css")

%body
  %table
    %tr
      %td{ :style => "width:30%;" }
        %img{ :src=> "/images/newapp-icon.png", :class => "newappIcon"}
      %td
        %h1 DSSD Grupo 21!
        %p{:class => "description"}
        Web service de proovedores: POST a /get_prices
